<h1>Your Coder Profile</h1>

<%= form_with model: @freelancespec, url: freelancespecs_path do |form| %>
  <%= form.hidden_field :setup, value: true %>
  <%= form.hidden_field :role, value: "Freelancer" %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <% languages = ["Python", "Ruby", "Java", "JavaScript", "C#", "PHP", "C++", "Swift", "kotlin", "Typescript", "Go", "Rust", "SQL", "HTML",
    "CSS", "ShellScripting", "Perl", "R", "MATLAB", "Lua", "Scala", "Dart", "Julia", "Haskell"] %>
    <% languages.each do |lang| %>
      <%= form.label lang %>
      <%= form.check_box :skill, { multiple: true }, lang, nil %>
    <% end %>
  </div>

  <div>
    <%= form.label :portfolio %>
    <%= form.text_field :portfolio %>
  </div>

  <div>
    <%= form.label :pricing %>
    <%= form.text_field :pricing %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
