<h1>Your Coder Profile</h1>

<%= form_with model: @freelancespec, url: freelancespecs_path do |form| %>
  <%= form.hidden_field :setup, value: true %>
  <%= form.hidden_field :role, value: "Freelancer" %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :Ruby_on_Rails %>
    <%= form.check_box :skill, { multiple: true }, "Ruby on Rails", nil %>

    <%= form.label :Python %>
    <%= form.check_box :skill, { multiple: true }, "Python", nil %>

    <%= form.label :Java %>
    <%= form.check_box :skill, { multiple: true }, "Java", nil %>

    <%= form.label :JavaScript %>
    <%= form.check_box :skill, { multiple: true }, "JavaScript", nil %>

    <%= form.label :'C#' %>
    <%= form.check_box :skill, { multiple: true }, "C#", nil %>

    <%= form.label :PHP %>
    <%= form.check_box :skill, { multiple: true }, "PHP", nil %>

    <%= form.label :'C++' %>
    <%= form.check_box :skill, { multiple: true }, "C++", nil %>

    <%= form.label :Ruby %>
    <%= form.check_box :skill, { multiple: true }, "Ruby", nil %>

    <%= form.label :Swift %>
    <%= form.check_box :skill, { multiple: true }, "Swift", nil %>

    <%= form.label :'Objective-C' %>
    <%= form.check_box :skill, { multiple: true }, "Objective-C", nil %>

    <%= form.label :Kotlin %>
    <%= form.check_box :skill, { multiple: true }, "Kotlin", nil %>

    <%= form.label :TypeScript %>
    <%= form.check_box :skill, { multiple: true }, "TypeScript", nil %>

    <%= form.label :Go %>
    <%= form.check_box :skill, { multiple: true }, "Go", nil %>

    <%= form.label :Rust %>
    <%= form.check_box :skill, { multiple: true }, "Rust", nil %>

    <%= form.label :SQL %>
    <%= form.check_box :skill, { multiple: true }, "SQL", nil %>

    <%= form.label :HTML %>
    <%= form.check_box :skill, { multiple: true }, "HTML", nil %>

    <%= form.label :CSS %>
    <%= form.check_box :skill, { multiple: true }, "CSS", nil %>

    <%= form.label :'Shell Scripting' %>
    <%= form.check_box :skill, { multiple: true }, "Shell Scripting", nil %>
  </div>

  <div>
    <%= form.label :portfolio %>
    <%= form.text_field :portfolio %>
  </div>

  <div>
    <%= form.label :pricing %>
    <%= form.text_field :pricing %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
