<h1>Your Coder Profile</h1>

<%= form_with model: @freelancespec, url: freelancespecs_path do |form| %>
  <%= form.hidden_field :setup, value: true %>
  <%= form.hidden_field :role, value: "Freelancer" %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :skill %>
    <%= form.text_field :skill %>
  </div>

  <div>
    <%= form.label :portfolio %>
    <%= form.text_field :portfolio %>
  </div>

  <div>
    <%= form.label :pricing %>
    <%= form.text_field :pricing %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
