<div class = "freelancebody">
  <div class = "projectform">
    <% if @projects.exists?(user_id: current_user) %>
      <h1>Your Project</h1>
        <% @projects.where(user_id: current_user.id).each do |project| %>
            <p>Title: <%= project.title%></p>
            <p>Description: <%= project.description%></p>
        <%end%>
    <%else%>
      <h1>New Project</h1>
      <%= form_for @project do |f| %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div class="tagfield">
          <% languages = ["Python", "Ruby", "Java", "JavaScript", "C#", "PHP", "C++", "Swift", "kotlin", "Typescript", "Go", "Rust", "SQL", "HTML",
          "CSS", "ShellScripting", "Perl", "R", "MATLAB", "Lua", "Scala", "Dart", "Julia", "Haskell"] %>
          <% languages.each do |lang| %>
            <%= label_tag lang %>
            <%= check_box_tag "project[tags][]", lang %>
          <% end %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <%end%>
  </div>
  <div class = "list">
    <h1>Freelancers</h1>
    <% if @projects.exists?(user_id: current_user) %>
      <% @projects.where(user_id: current_user.id).each do |project| %>
        <% freelancers_with_tags = @freelancers.select { |freelance| (project.tags & freelance.skill).present? } %>
        <% freelancers_with_tags = freelancers_with_tags.sort_by { |freelance| -(project.tags & freelance.skill).size } %>
        <% freelancers_with_tags.each do |freelance| %>
          <div class="freelancecard" data-id="<%= freelance.id %>">
            <p>Name: <%= freelance.first_name %> <%= freelance.last_name %>
            skill Tags: <%= freelance.skill %>
            Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
            <div class="hide">Hourly price: <%= freelance.pricing %>€</div></p>
          </div>
        <% end %>
      <% end %>
    <%else%>
      <% @freelancers.each do |freelance| %>
        <div class = "freelancecard" data-id="<%= freelance.id %>">
        <p>Name: <%= freelance.first_name%> <%= freelance.last_name%>
        skill Tags: <%= freelance.skill%>
        Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
        <div class = "hide">Hourly price: <%= freelance.pricing%>€</div></p>
      </div>
      <%end%>
    <%end%>
  </div>
</div>

<script>
  var clickableDivs = document.querySelectorAll(".freelancecard");
  for (var i = 0; i < clickableDivs.length; i++) {
    clickableDivs[i].addEventListener("click", function() {
      var freelancespecId = this.getAttribute("data-id");
      var url = "<%= freelanceresults_path %>" + "/" + freelancespecId;
      window.location = url;
    });
  }
</script>
