<div class = "freelancebody">
  <div class = "projectform">
    <% if @projects.exists? %>
      <h1>Your Project</h1>
        <% @projects.each do |project| %>
            <p>Title: <%= project.title%></p>
            <p>Description: <%= project.description%></p>
        <%end%>
    <%else%>
      <h1>New Project</h1>
      <%= form_for @project do |f| %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div class="field">
          <%= label_tag "Python" %>
          <%= check_box_tag "project[tags][]", "Python" %>
          <%= label_tag "Ruby_on_Rails" %>
          <%= check_box_tag "project[tags][]", "Ruby on Rails" %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <%end%>
  </div>
  <div class = "list">
    <h1>List of freelancers</h1>
    <% if @projects.exists? %>
      <% @projects.each do |project| %>
        <% @freelancers.each do |freelance| %>
            <% if project.tags.include?(freelance.skill) %>
              <div class = "freelancecard" data-id="<%= freelance.id %>">
              <p>Name: <%= freelance.first_name%> <%= freelance.last_name%>
              skill Tags: <%= freelance.skill%>
              Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
              <div class = "hide">Hourly price: <%= freelance.pricing%>€</div></p>
            </div>
            <%end%>
          <%end%>
      <%end%>
    <%else%>
      <% @freelancers.each do |freelance| %>
        <div class = "freelancecard" data-id="<%= freelance.id %>">
        <p>Name: <%= freelance.first_name%> <%= freelance.last_name%>
        skill Tags: <%= freelance.skill%>
        Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
        <div class = "hide">Hourly price: <%= freelance.pricing%>€</div></p>
      </div>
      <%end%>
    <%end%>
  </div>
</div>

<script>
  var clickableDivs = document.querySelectorAll(".freelancecard");
  for (var i = 0; i < clickableDivs.length; i++) {
    clickableDivs[i].addEventListener("click", function() {
      var freelancespecId = this.getAttribute("data-id");
      var url = "<%= freelanceresults_path %>" + "/" + freelancespecId;
      window.location = url;
    });
  }
</script>
