<div class = "freelancebody">
  <div class = "projectform">
    <% if @projects.exists?(user_id: current_user) %>
      <h1>Your Project</h1>
        <% @projects.where(user_id: current_user.id).each do |project| %>
            <p>Title: <%= project.title%></p>
            <p>Description: <%= project.description%></p>
        <%end%>
    <%else%>
      <h1>New Project</h1>
      <%= form_for @project do |f| %>
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :description %>
          <%= f.text_area :description %>
        </div>

        <div class="tagfield">
          <%= label_tag "Python" %>
          <%= check_box_tag "project[tags][]", "Python" %>
          <%= label_tag "Ruby_on_Rails" %>
          <%= check_box_tag "project[tags][]", "Ruby on Rails" %>
          <%= label_tag "Java" %>
          <%= check_box_tag "project[tags][]", "Java" %>
          <%= label_tag "JavaScript" %>
          <%= check_box_tag "project[tags][]", "JavaScript" %>
          <%= label_tag "C#" %>
          <%= check_box_tag "project[tags][]", "C#" %>
          <%= label_tag "PHP" %>
          <%= check_box_tag "project[tags][]", "PHP" %>
          <%= label_tag "C++" %>
          <%= check_box_tag "project[tags][]", "C++" %>
          <%= label_tag "Swift" %>
          <%= check_box_tag "project[tags][]", "Swift" %>
          <%= label_tag "Kotlin" %>
          <%= check_box_tag "project[tags][]", "Kotlin" %>
          <%= label_tag "TypeScript" %>
          <%= check_box_tag "project[tags][]", "TypeScript" %>
          <%= label_tag "Go" %>
          <%= check_box_tag "project[tags][]", "Go" %>
          <%= label_tag "Rust" %>
          <%= check_box_tag "project[tags][]", "Rust" %>
          <%= label_tag "SQL" %>
          <%= check_box_tag "project[tags][]", "SQL" %>
          <%= label_tag "HTML" %>
          <%= check_box_tag "project[tags][]", "HTML" %>
          <%= label_tag "CSS" %>
          <%= check_box_tag "project[tags][]", "CSS" %>
          <%= label_tag "Shell_Scripting" %>
          <%= check_box_tag "project[tags][]", "Shell Scripting" %>
          <%= label_tag "Perl" %>
          <%= check_box_tag "project[tags][]", "Perl" %>
          <%= label_tag "R" %>
          <%= check_box_tag "project[tags][]", "R" %>
          <%= label_tag "MATLAB" %>
          <%= check_box_tag "project[tags][]", "MATLAB" %>
          <%= label_tag "Lua" %>
          <%= check_box_tag "project[tags][]", "Lua" %>
          <%= label_tag "Scala" %>
          <%= check_box_tag "project[tags][]", "Scala" %>
          <%= label_tag "Dart" %>
          <%= check_box_tag "project[tags][]", "Dart" %>
          <%= label_tag "Julia" %>
          <%= check_box_tag "project[tags][]", "Julia" %>
          <%= label_tag "Haskell" %>
          <%= check_box_tag "project[tags][]", "Haskell" %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    <%end%>
  </div>
  <div class = "list">
    <h1>Freelancers</h1>
    <% if @projects.exists?(user_id: current_user) %>
      <% @projects.where(user_id: current_user.id).each do |project| %>
        <% @freelancers.each do |freelance| %>
            <% if project.tags.include?(freelance.skill) %>
              <div class = "freelancecard" data-id="<%= freelance.id %>">
              <p>Name: <%= freelance.first_name%> <%= freelance.last_name%>
              skill Tags: <%= freelance.skill%>
              Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
              <div class = "hide">Hourly price: <%= freelance.pricing%>€</div></p>
            </div>
            <%end%>
          <%end%>
      <%end%>
    <%else%>
      <% @freelancers.each do |freelance| %>
        <div class = "freelancecard" data-id="<%= freelance.id %>">
        <p>Name: <%= freelance.first_name%> <%= freelance.last_name%>
        skill Tags: <%= freelance.skill%>
        Portfolio: <a href="http://<%= freelance.portfolio %>"><%= freelance.portfolio %></a>
        <div class = "hide">Hourly price: <%= freelance.pricing%>€</div></p>
      </div>
      <%end%>
    <%end%>
  </div>
</div>

<script>
  var clickableDivs = document.querySelectorAll(".freelancecard");
  for (var i = 0; i < clickableDivs.length; i++) {
    clickableDivs[i].addEventListener("click", function() {
      var freelancespecId = this.getAttribute("data-id");
      var url = "<%= freelanceresults_path %>" + "/" + freelancespecId;
      window.location = url;
    });
  }
</script>
