<div>
    <h1>List of freelancers</h1>
  <% @freelancers.each do |freelance| %>
      <p>First Name: <%= freelance.first_name%>
      Last Name: <%= freelance.last_name%>
      skill: <%= freelance.skill%>
      Portfolio: <%= freelance.portfolio%>
      Hourly price: <%= freelance.pricing%>€</p>
    <%end%>
</div>
