<h1><%= @freelancer.first_name %> <%= @freelancer.last_name %> Profile</h1>

<p><strong>Name:</strong> <%= @freelancer.first_name %> <%= @freelancer.last_name %></p>

<p><strong>Skill:</strong> <%= @freelancer.skill %></p>

<p><strong>Portfolio:</strong> <%= @freelancer.portfolio %></p>

<p><strong>Pricing:</strong> <%= @freelancer.pricing %>€</p>

<%= render partial: 'requests/form', locals: { freelancer: @freelancer } %>
