<div class="regibody">
  <div class = "regi">
    <%= image_tag "codeswarmlogo2.jpg" %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="boxes">
          <%= f.input :email,
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "E-mail*", }%>
        </div>
        <div class="boxes">
          <%= f.input :password,
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "Password*" } %>
        </div>
        <div class="boxes">
          <%= f.input :password_confirmation,
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "Confirm Password*" } %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "< Sign up />" %>
      </div>
    <% end %>
    <p>Continue With:</p>
  </div>
</div>
