<h1>New Request</h1>

<%= form_with(model: @request, url: requests_path) do |form| %>
  <%= form.label :receiver_id, 'To' %>
  <%= form.collection_select :receiver_id, User.all, :id, :name, prompt: true %>

  <%= form.label :message %>
  <%= form.text_field :message %>

  <%= form.submit 'Send Request' %>
<% end %>
