<div class="homepage">
  <div class="choicebody">
    <% if current_user %>
      <div class="choice">
          <h2>Join as a Client or Freelancer</h2>
        <div class="client">
            <%= form_tag page_path(current_user), method: :patch do %>
              <%= hidden_field :user, :setup, value: true %>
              <%= hidden_field :user, :role, value: "Client" %>
            <%# <div class="clientbt"> %>
              <%= submit_tag "I'm a client, looking for a skilled Freelancer", class: "clientbt" %>
          <%# </div> %>
            <% end %>
        </div>
          <div class="freelancer">
            <div class ="freebt">
              <%= link_to "I'm a Freelancer, looking for Experience", new_freelancespec_path %>
            </div>
          </div>
        </div>
  </div>
  <% else %>
    <div class = "titlehome">
      <h2>The Junior Developer Freelance Hub</h2>
      <h2>The Experience They Need</h2>
      <div class = "para">
        <p>This website was created to give new and beginner developers the chance
        to improve and gain experience. With the added benefit of helping
        others complete their projects.</p>
      </div>
      <div class  = "learn">< Learn More /></div><div class = "join"><%= link_to '< Sign Up />', new_user_registration_path %></div>
    </div>
    <div class = "homeimage"><img src="https://www.springboard.com/blog/wp-content/uploads/2022/04/117-coding-programming-interview-questions-answers-2022-prep-guide.png" alt=""></div>
<% end %>
</div>
