<div class="homepage">
  <% if current_user %>
    <h1>Logged in make a choice</h1>
      <%= form_tag page_path(current_user), method: :patch do %>
        <%= hidden_field :user, :setup, value: true %>
        <%= hidden_field :user, :role, value: "Client" %>
        <%= submit_tag "Client" %>
      <% end %>
        <%= link_to 'Freelancer', new_freelancespec_path %>
  <% else %>
    <div class = "titlehome">
      <h2>The Junior Developer Freelance Hub</h2>
      <h2>The Experience They Need</h2>
      <p>This website was created to give new and beginner developers the chance</p>
      <p>to improve and gain experience. With the added benefit of helping</p>
      <p>others complete their projects.</p>
      <div class  = "learn">< Learn More /></div><div class = "join"><%= link_to '< Sign Up />', new_user_registration_path %></div>
    </div>
    <div class = "homeimage"><img src="https://www.springboard.com/blog/wp-content/uploads/2022/04/117-coding-programming-interview-questions-answers-2022-prep-guide.png" alt=""></div>
<% end %>
</div>
