<div class="loginbody">
  <div class="login">
      <%= image_tag "codeswarmlogo2.jpg" %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
      <div class="form-inputs">
        <div class="boxes">
          <%= f.input :email,
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "E-mail" } %>
        </div>
        <div class="boxes">
          <%= f.input :password,
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password", placeholder: "Password" } %>
                      <div class="forgot"><%= link_to "Forgot password?", new_password_path(resource_name) %></div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
