<div>
  <% if current_user.admin == true %>
    <div class="admindash">
      <h1>Admin Dashboard</h1>
    </div>
    <h2>User Admin Status</h2>
  <%= form_with url: dashboards_path, method: :patch do |form| %>
    <% @users.each do |user| %>
      <%= form.fields_for :users, user, index: user.id do |f| %>
        <div>
          <%= f.check_box :admin, { checked: user.admin }, "true", "false" %>
          <%= user.email %> / <%= user.role %>
        </div>
      <% end %>
    <% end %>
    <%= form.submit "Update Admin Status" %>
  <% end %>
  <% elsif current_user.role == "Client" %>
    <h1>Dashboard</h1>
    <% if @requests.exists? %>
      <% pending = 0 %>
      <% @requests.each do |request| %>
      <% if request.status == "pending" %>
        <% pending += 1 %>
      <% end %>
    <% end %>
    <h3> Awaiting Response: <%= content_tag :strong, pending %></h3>
    <% else %>
      <h3>Awaiting Response: <%= content_tag :strong, 0 %></h3>
    <% end %>
    <% if @requests.exists? %>
      <% accept = 0 %>
      <% @requests.each do |request| %>
    <% if request.status == "accepted" %>
        <% accept += 1 %>
      <% end %>
    <% end %>
    <h3>Request Accepted: <%= content_tag :strong, accept %></h3>
    <% else %>
      <h3>Request Accepted: <%= content_tag :strong, 0 %></h3>
    <% end %>
    <% if @requests.exists? %>
      <% rejected = 0 %>
      <% @requests.each do |request| %>
    <% if request.status == "rejected" %>
        <% rejected += 1 %>
      <% end %>
    <% end %>
    <h3>Request Rejected: <%= content_tag :strong, rejected %></h3>
    <% else %>
      <h3>Request Rejected: <%= content_tag :strong, 0 %></h3>
    <% end %>
    <% elsif current_user.role == "Freelancer" %>
    <h1>Dashboard</h1>
    <% if @requests.exists? %>
      <% pending = 0 %>
      <% @requests.each do |request| %>
      <% if request.status == "pending" %>
        <% pending += 1 %>
      <% end %>
    <% end %>
    <h3> New Requests: <%= content_tag :strong, pending %></h3>
    <% else %>
      <h3>New Requests: <%= content_tag :strong, 0 %></h3>
    <% end %>
    <% if @requests.exists? %>
      <% accept = 0 %>
      <% @requests.each do |request| %>
    <% if request.status == "accepted" %>
        <% accept += 1 %>
      <% end %>
    <% end %>
    <h3>Live Projects: <%= content_tag :strong, accept %></h3>
    <% else %>
      <h3>Live Projects: <%= content_tag :strong, 0 %></h3>
    <% end %>
  <% end %>
</div>
