<div>
  <% if current_user.admin == true %>
    <% @users.each do |user| %>
      <p><div>
        Email: <%= user.email %>
        <%= form_for(user, url: dashboard_path(user), method: :patch) do |form| %>
          <div>
            <%= form.label :admin, "Admin" %>
            <%= form.check_box :admin, checked: user.admin? %>
            <%= form.submit "Update Admin Status" %>
          </div>
        <% end %>
      </div></p>
    <% end %>

  <% else %>
    <h1>Dashboard</h1>
  <% end %>
</div>
