<div>
  <% if current_user.admin == true %>
    <div class="admindash">
      <h1>Admin Dashboard</h1>
    </div>
    <h2>User Admin Status</h2>
  <%= form_with url: dashboard_path, method: :patch do |form| %>
    <% @users.each do |user| %>
      <%= form.fields_for :users, user, index: user.id do |f| %>
        <div>
          <%= f.check_box :admin, { checked: user.admin }, "true", "false" %>
          <%= user.email %>
        </div>
      <% end %>
    <% end %>
    <%= form.submit "Update Admin Status" %>
  <% end %>
  <% else %>
    <h1>Dashboard</h1>
  <% end %>
</div>
